#Project regereratable folders
Intermediate
Saved/*
!/Saved/Config/
/Saved/Config/*
!/Saved/Config/Windows/
Build
Binaries

Plugins/Marketplace
Plugins/VictoryPlugin
Plugins/LoadingScreen


DerivedDataCache
Images
.vs

#Asset from Marketplace (not intend to modify)


Content/8BitActionGameLoops
Content/AbandonedFactory
Content/ActionGameSoundtrack
Content/ActionTrailerMusicPack
Content/AdventureGameMusicPack
Content/Animal_pack_ultra
Content/ArchVis
Content/BattleMusicPack
Content/BeachShader
Content/BONUSCombatMusicTracks
Content/CasualGameMusicPack
Content/Collections
Content/DangerousHorizon
Content/DesertRallyRace
Content/Developers
Content/Diesel_2_5_german
Content/EnergyHardRockMusicPack
Content/EpicTrailerMusicPack
Content/Explosions
Content/FPSWeaponPackVol2
Content/handgunaddon
Content/IBFPSStarterPack
Content/IndustryPropsPack
Content/IndustryPropsPack4
Content/LabBottles
Content/M4_Animated
Content/MedievalMusicPack
Content/Metal_Shelves
Content/MysticalGameMusicPack
Content/OWFoodPack
Content/Procedural_Ecosystem
Content/ProSoundCollection_v1_3
Content/ProSoundCollection_v1_3_MONO
Content/RetroKitchenPack
Content/RiverShader
Content/RockMusicPack
Content/SoulCave
Content/SoulCity
Content/SpaceAdventureMusicPack
Content/StarterContent
Content/SurvivalGear
Content/UltraDynamicSky
Content/UrbanPropsPack
Content/WH_Construction_Set
Content/B


#Test Folder
Content/TestFolder

#from MegaGameMusicCollection sub-folder
Content/ActionGameSoundtrack
Content/ActionTrailerMusicPack
Content/AdventureGameMusicPack
Content/BattleMusicPack
Content/CasualGameMusicPack
Content/EnergyHardRockMusicPack
Content/EpicTrailerMusicPack
Content/MedievalMusicPack
Content/MysticalGameMusicPack
Content/SpaceAdventureMusicPack
--How_To_Setup_Automatic_Guns_Sounds--.pdf
--General_Info_and_How_To_Use--.pdf

#FreeContent
Content/ArbitraryStudio


Villages.sln
Villages.sdf
Villages.VC.opendb

*.db
*.opendb
Content/A/TestMap.umap
Content/A/TestMap_BuiltData.uasset
ProSoundCollectionV3.png
Gamemaster Audio - Pro Sound Collection v1.3 - 16bit 48k.zip